@model IEnumerable<MySalon_Master.Models.Appointment>
@{
    ViewData["Title"] = "Index";
}
<header class="py-5 full-booking-background ">
    <div class="container-fluid">
    <h5>Online Booking</h5>
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>
</header>
